<div class="wrapper">
  <div class="top-part">
    <div class="left-part">
      <h2>sign up for our updates</h2>
      <h4>Get 10% discount for the first order</h4>
      <div class="sign_up-form">
        <input type="email" [(ngModel)]="userEmail" />
        <button (click)="signUp(userEmail)">sign up</button>
      </div>
    </div>

    <div class="right-part">
      <div>
        <h4>Shop</h4>
        <p>Products</p>
        <p>Our Blog</p>
      </div>
      <div>
        <h4>About</h4>
        <p>Order & Shipping</p>
        <p>About Us</p>
        <p>FAQ</p>
      </div>
      <div>
        <h4>Contacts</h4>
        <p>Instagram</p>
        <p>Facebook</p>
        <p>Twitter</p>
        <p>TikTok</p>
      </div>
    </div>
  </div>
  <div class="bottom-part">
    <p>@2023. QUAI. All rights reserved.</p>
    <p>Site made by Max.</p>
  </div>
</div>
