<div class="wrapper">
  <div class="left-part">
    <h2>categories</h2>
    <img src="" alt="" />
  </div>
  <div class="right-part">
    <mat-nav-list role="list">
      <mat-list-item role="listitem"
        ><div
          class="d-flex justify-content-between align-items-center listitem-content"
        >
          <p>skincare</p>
          <mat-icon
            aria-hidden="false"
            aria-label="arrow forward"
            fontIcon="arrow_forward_ios"
          ></mat-icon></div
      ></mat-list-item>
      <mat-list-item role="listitem"
        ><div
          class="d-flex justify-content-between align-items-center listitem-content"
        >
          <p>hair</p>
          <mat-icon
            aria-hidden="false"
            aria-label="arrow forward"
            fontIcon="arrow_forward_ios"
          ></mat-icon></div
      ></mat-list-item>
      <mat-list-item role="listitem"
        ><div
          class="d-flex justify-content-between align-items-center listitem-content"
        >
          <p>bath and body</p>
          <mat-icon
            aria-hidden="false"
            aria-label="arrow forward"
            fontIcon="arrow_forward_ios"
          ></mat-icon></div
      ></mat-list-item>
      <mat-list-item role="listitem"
        ><div
          class="d-flex justify-content-between align-items-center listitem-content"
        >
          <p>fragrance</p>
          <mat-icon
            aria-hidden="false"
            aria-label="arrow forward"
            fontIcon="arrow_forward_ios"
          ></mat-icon></div
      ></mat-list-item>
      <mat-list-item role="listitem"
        ><div
          class="d-flex justify-content-between align-items-center listitem-content"
        >
          <p>gifts</p>
          <mat-icon
            aria-hidden="false"
            aria-label="arrow forward"
            fontIcon="arrow_forward_ios"
          ></mat-icon></div
      ></mat-list-item>
    </mat-nav-list>
  </div>
</div>
