<div class="wrapper">
  <div class="top-part">
    <img src="" alt="" />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi perferendis
      saepe unde assumenda. Iure, architecto vitae, maiores possimus sunt nobis
      consectetur atque, officiis quas ab asperiores consequatur ex earum
      accusamus.
    </p>
    <img src="" alt="" />
  </div>
  <div class="bottom-part">
    <div class="left-part">
      <img src="" alt="" />
      <div>
        <h2>about us</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis,
          cum. Quia eius, reiciendis dolorum repellendus ut ipsa, quae eveniet
          quisquam deleniti necessitatibus perspiciatis? Culpa aliquam nulla
          rerum, minima soluta sequi?
        </p>
        <button>read more</button>
      </div>
    </div>
    <div class="right-part"><img src="" alt="" /></div>
  </div>
</div>
