<div class="wrapper">
  <div class="left-side">
    <div class="logo" routerLink="/">
      <p class="logo-name">QUAI</p>
      <div class="shop">
        <p class="shop-name">s</p>
        <p class="shop-name">h</p>
        <p class="shop-name">o</p>
        <p class="shop-name">p</p>
      </div>
    </div>
    <button class="navigation-item">shop</button>
    <button class="navigation-item">about</button>
    <button class="navigation-item">contact</button>
  </div>
  <div class="right-side">
    <button class="navigation-item">search</button>
    <button class="navigation-item" routerLink="/account">account</button>
    <button class="navigation-item" routerLink="/cart">cart</button>
  </div>
</div>
